.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
  }
  
  .modal h2 {
    margin-top: 0;
  }
  
  .modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .add-expense-btn, .cancel-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .add-expense-btn {
    background-color: #F4BB4A;
    width: 145px;
height: 51px;
top: 378px;
left: 630px;
gap: 0px;
border-radius: 8px;
font-family: Open Sans;
font-size: 16px;
font-weight: 700;
line-height: 21.79px;
text-align: left;
color: white;
  }
  
  .cancel-btn {
    background-color:#E3E3E3;
    width: 112px;
height: 51px;
top: 379px;
left: 791px;
gap: 0px;
border-radius: 8px;
box-shadow: 0px 4px 4px 0px #00000040;
font-family: Open Sans;
font-size: 16px;
font-weight: 400;
line-height: 21.79px;
text-align: left;
color:black;
  }
  input,
select {
  width: calc(100% - 20px); /* Adjust width to account for padding */
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px; /* Optional: for rounded input fields */
}